body {
  position: center;
  text-align: center;
  font-weight: 700;
}

p {
  display: none;
}

img {
  width: 50%;
  height: auto;
}

.card {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20%;
  padding-left: 20%;
  border-bottom: 3px solid black;
}